.container
  height: 230px
  width: 230px
  padding: 10px
  border-width: 5px
  border-style: solid
  border-radius: 25px
  border-color: #c2185b
  display: flex
  align-items: center
  justify-content: center
.text
  text-align: center